<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <title>About Us - KVCH</title>
    <link href="https://kvch.in/favicon.png" type="image/x-icon" rel="shortcut icon">
    <link href="https://kvch.in/assets/css/master.css" rel="stylesheet">

    <script src="https://kvch.in/assets/plugins/jquery/jquery-1.11.3.min.js"></script>


    <style type="text/css">
        .bg-white-imp ul li.list-clients__item img {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .bg-white-imp ul li.advantages__item {
            background: transparent !important;
            box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.1) !important;
        }

        .bg-white-imp .advantages_mod-c li.advantages__item {
            width: 200px;
            margin-left: 10px;
        }

        .advantages__title h5 {
            font-weight: bold;
            line-height: 6px;
            font-size: 15px;
        }

        .advantages__title h4 {
            font-weight: bold;
            font-size: 24px;
        }
    </style>

</head>

<body>

<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->
<div class="layout-theme animated-css" data-header="sticky" data-header-top="200">


    <div id="wrapper">


        <div id="loadheader"></div>
        <div class="wrap-title-page">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1 class="ui-title-page">about Us</h1></div>
                </div>
            </div><!-- end container-->
        </div><!-- end wrap-title-page -->


        <div class="section-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="wrap-breadcrumb clearfix">
                            <ol class="breadcrumb">
                                <li><a href="index.html"><i class="icon stroke icon-House"></i></a></li>
                                <li class="active">About Us</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section-breadcrumb -->


        <main class="main-content">

            <section class="about rtd">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <!--<h2 class="about__title">welcome to <strong>KVCH</strong></h2>-->
                            <p align="justify">KVCH is the largest training provider in the industry. We are the global
                                leader in the training sector enabling students in more than 60 countries to generate
                                value. Established in the year 1991 as KV Computer Home Private Limited (KVCH) has been
                                rendering its services from past 26 years .</p>
                            <p align="justify">
                                In the middle of the journey we were joined by the leaders of the industry like TCS
                                ,Tech Mahindra , HCL , CMC LTD. Working alongside big brands, helped us grow and prosper
                                into a more dynamic firm. Our very first journey partner was PCL. In 1990s when
                                globalization was starting to accelerate and there were very few organizations
                                developing software in the market, KVCH managed to develop a platform embedded on latest
                                technology for various companies. Few years after we started training people and
                                employees of various big organizations to work and experience the world of technology.
                                In 2005, we supplied major chunk of professionally skilled engineers to HCL , Wipro and
                                Tech Mahindra.
                            </p>
                            <p align="justify">
                                We are dedicated to improve outcomes for the industry by helping an individual to
                                develop skills and acquire latest technology. We specialize in providing Information
                                Technology and Management training onsite and offsite via our expert trainers.<br><br>

                                KV Computer Home Pvt. Ltd. is authorized partner of the IBM Career Education
                                Program.<br><br>
                                The IBM Career Education program focuses on building industry-relevant software
                                capabilities. It is an
                                instructor led program designed by IT professionals, for students and faculty members in
                                business
                                schools to accelerate skills and knowledge in relevant high end software concepts &
                                tools to ramp up
                                business growth and succeed in this dynamic industry.
                                The Career Education Program of IBM helps students and faculty in higher education gain
                                all the
                                relevant skills, experiential learning and makes them adapt with latest technology and
                                tools. This
                                program brings together the latest software content, real-world industry experience,
                                hands-on lab
                                courses and best practices, to a single unique education platform.

                                <br><br>What makes us the Industry Leaders ?
                            </p>
                            <ul class="list-mark">
                                <li>Quality of education</li>
                                <li>Experienced staff and trainers</li>
                                <li>Overall development program</li>
                                <li>Major tie-ups with learning partners</li>
                                <li>Certified courses from KVCH</li>
                                <li>Dedicated Placement Assistance Cell</li>
                            </ul>
                            <p align="justify">
                                Our motto is quality education to all. We believe in providing quality services to our
                                client and that is what has made us the industry leader. We have panel of expert team
                                for each specialized domain. Our team of experts have industrial experience of more than
                                15 years. They have handled more than 500 + Live Projects, making them highly efficient
                                in their respective domains.
                                Not only we are concerned with providing the best service to our students but we have a
                                specialized placement cell that work tirelessly to search for the best opportunities in
                                the market. We have more than 200,000 students placed in the industry. We offer an
                                overall development program for the student that helps them to compete and grab the best
                                jobs in the market. We build individuals with technology proficiency, integrity and
                                professionalism.
                            </p>
                            <p align="justify">

                                We have various placement drives conducted on regular intervals for KVCH students. Our
                                Placement Cell keeps on updating the students on any new opportunity.
                            </p>
                        </div><!-- end col -->
                        <div class="col-md-7">

                            <ul class="advantages advantages_mod-c list-unstyled">
                                <li class="advantages__item">

                                    <span class="advantages__icon decor decor_mod-a"><img
                                            src="https://kvch.in/assets/img/about/01.png"></span>
                                    <span class="advantages__title ui-title-inner"> <h5> ESTABLISHED </h5> <h4> SINCE 1991 </h4> </span>
                                </li>
                                <li class="advantages__item">
                                    <span class="advantages__icon decor decor_mod-a"> <img
                                            src="https://kvch.in/assets/img/about/02.png"> </span>
                                    <span class="advantages__title ui-title-inner"> <h5 style="line-height:18px;"> REGISTERED UNDER MINISTRY OF CORPORATE AFFAIRS </h5></span>
                                </li>
                                <li class="advantages__item">
                                    <span class="advantages__icon decor decor_mod-a"> <img
                                            src="https://kvch.in/assets/img/about/06.png"> </span>
                                    <span class="advantages__title ui-title-inner"> <h4> DEDICATED </h4> <h5> PLACEMENT CELL </h5></span>
                                </li>


                                <li class="advantages__item">
                                    <span class="advantages__icon decor decor_mod-a"> <img
                                            src="https://kvch.in/assets/img/about/05.png"> </span>
                                    <span class="advantages__title ui-title-inner"> <h4> 47000+ </h4> <h5> STUDENTS TRAINED </h5> </span>
                                </li>
                                <li class="advantages__item">
                                    <span class="advantages__icon decor decor_mod-a"> <img
                                            src="https://kvch.in/assets/img/about/04.png"> </span>
                                    <span class="advantages__title ui-title-inner"> <h4> 1900+ </h4> <h5> PLACEMENTS TIEUPS </h5></span>
                                </li>
                                <li class="advantages__item">
                                    <span class="advantages__icon decor decor_mod-a"> <img
                                            src="https://kvch.in/assets/img/about/03.png"> </span>
                                    <span class="advantages__title ui-title-inner"> <h4>30000+ </h4> <h5> STUDENTS PLACED </h5> </span>
                                </li>


                            </ul>

                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </section><!-- end about -->


            <div class="section-advantages_mod-a bg-white-imp">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">


                            <div class="wrap-title">
                                <h2 class="ui-title-block"> Awards &amp; <strong> Achievements</strong></h2>
                                <div class="ui-subtitle-block ui-subtitle-block_mod-b"
                                     style="margin-bottom:47px;"></div>
                            </div>


                            <ul class="advantages advantages_mod-c list-unstyled">
                                <li class="advantages__item">

                                    <img src="https://kvch.in/assets/img/about/award1.png">

                                </li>
                                <li class="advantages__item">
                                    <img src="https://kvch.in/assets/img/about/award2.png">

                                </li>
                                <li class="advantages__item">
                                    <img src="https://kvch.in/assets/img/about/award3.png">

                                </li>
                                <li class="advantages__item">
                                    <img src="https://kvch.in/assets/img/about/award4.png">

                                </li>
                                <li class="advantages__item">
                                    <img src="https://kvch.in/assets/img/about/award5.png">

                                </li>


                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="wrap-title">
                                <h2 class="ui-title-block"> Our<strong> Learning Partners</strong></h2>
                                <div class="ui-subtitle-block ui-subtitle-block_mod-b"
                                     style="margin-bottom: 47px;"></div>

                            </div>


                            <ul class="advantages advantages_mod-c list-unstyled">
                                <li class="advantages__item">

                                    <img src="https://kvch.in/assets/img/about/partner1.png" class="img-responsive">

                                </li>
                                <li class="advantages__item">
                                    <img src="https://kvch.in/assets/img/about/partner2.png" class="img-responsive">

                                </li>


                            </ul>


                        </div>
                    </div>


                </div>
            </div>


            <div class="section-advantages_mod-a bg-white-imp" style="padding-top: 0px;background:#fff;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-decor_bottom">
                            <section class="section-default">
                                <div class="wrap-title">
                                    <h2 class="ui-title-block">Trusted <strong> By</strong></h2>
                                    <div class="ui-subtitle-block ui-subtitle-block_mod-b"
                                         style="margin-bottom:47px;"></div>
                                </div>
                                <ul class="list-clients list-unstyled clearfix">
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/adobe.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/hcl.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/indus.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/aegis.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/amazon.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/aexpress.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/aswan.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/apollo.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/fortis.jpg"
                                                                        height="100" width="200" alt="Partners"></li>

                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/tata.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/godrej.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/ebay.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/icici.jpg"
                                                                        height="100" width="200" alt="Partners"></li>

                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/ibibo.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/bajaj.jpg"
                                                                        height="100" width="200" alt="Partners"></li>
                                    <li class="list-clients__item"><img class="img-responsive"
                                                                        src="https://kvch.in/assets/media/clients/kotak.jpg"
                                                                        height="100" width="200" alt="Partners"></li>

                                </ul>

                            </section><!-- end section-clients -->
                        </div><!-- end border-decor_bottom -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->


        </main><!-- end main-content -->


        <div id="loadfooter"></div>
    </div><!-- end wrapper -->
</div><!-- end layout-theme -->


<!-- SCRIPTS -->
<script src="https://kvch.in/assets/js/jquery-migrate-1.2.1.js"></script>
<script src="https://kvch.in/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://kvch.in/assets/js/modernizr.custom.js"></script>
<script src="https://kvch.in/assets/js/waypoints.min.js"></script>
<script src="../../cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!--THEME-->
<script src="https://kvch.in/assets/plugins/sliderpro/js/jquery.sliderPro.min.js"></script>
<script src="https://kvch.in/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="https://kvch.in/assets/plugins/isotope/jquery.isotope.min.js"></script>
<script src="https://kvch.in/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="https://kvch.in/assets/plugins/datetimepicker/jquery.datetimepicker.js"></script>
<script src="https://kvch.in/assets/plugins/jelect/jquery.jelect.js"></script>
<script src="https://kvch.in/assets/plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="https://kvch.in/assets/js/cssua.min.js"></script>
<script src="https://kvch.in/assets/js/wow.min.js"></script>
<script src="https://kvch.in/assets/js/custom.min.js"></script>
<script src="https://kvch.in/assets/js/custom_javascript.js"></script>


</body>


</html>
