<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <title>Contact</title>
    <link href="https://kvch.in/favicon.png" type="image/x-icon" rel="shortcut icon">
    <link href="https://kvch.in/assets/css/master.css" rel="stylesheet">

    <script src="https://kvch.in/assets/plugins/jquery/jquery-1.11.3.min.js"></script>

    <style type="text/css">
        .contact_custom_css .list-contacts {
            margin-top: 3px;
        }

        .contact_custom_css .list-contacts li {
            padding-top: 35px;
            padding-bottom: 35px;
        }

        .map-iframe-margin-bottom-10 iframe {
            margin-bottom: 20px;
        }

        .map-iframe-margin-bottom-10 h5 {
            color: #416da5;
        }

        .margin_padding_contact li {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        .margin_padding_contact li .list-contacts__inner {
            padding-bottom: 10px;
        }

        .contact_list_fonts .list-contacts__title {
            font-size: 16px;
            margin-top: -9px !important;
        }

        .contact_list_fonts .list-contacts__info {
            font-size: 17px;
            margin-top: -9px !important;
        }

        .contact_map_custom_css {
            margin-bottom: 30px;
        }
    </style>


</head>

<body>

<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->
<div class="layout-theme animated-css" data-header="sticky" data-header-top="200">


    <div id="wrapper">

        <div id="loadheader"></div>


        <div class="wrap-title-page">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1 class="ui-title-page">contact us</h1></div>
                </div>
            </div><!-- end container-->
        </div><!-- end wrap-title-page -->


        <div class="section-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="wrap-breadcrumb clearfix">
                            <ol class="breadcrumb">
                                <li><a href="index.html"><i class="icon stroke icon-House"></i></a></li>
                                <li class="active">Contact US</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section-breadcrumb -->


        <main class="main-content">

            <div class="container">

                <h2 class="ui-title-inner decor decor_mod-a contact_list_fonts">Get in Touch with us</h2>

                <div class="row">
                    <div class="col-md-5 contact_custom_css">
                        <ul class="list-contacts list-unstyled margin_padding_contact">
                            <li class="list-contacts__item">
                                <i class="icon stroke icon-House"></i>
                                <div class="list-contacts__inner">
                                    <div class="list-contacts__title">Noida</div>
                                    <div class="list-contacts__info">C-109, sector-2, noida, U.P-201301</div>
                                </div>


                                <i class="icon stroke icon-Phone2"></i>
                                <div class="list-contacts__inner">

                                    <div class="list-contacts__info" style="color:red;"><strong>9266625607</strong>
                                    </div>
                                </div>

                                <i class="icon stroke icon-Mail"></i>
                                <div class="list-contacts__inner">

                                    <div class="list-contacts__info">training@kvch.in</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7 section_map map-iframe-margin-bottom-10 contact_map_custom_css">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14014.011377445986!2d77.31593!3d28.584688!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfdfdfc74e858db6a!2sKVCH!5e0!3m2!1sen!2sin!4v1494587740145"
                                width="600" height="210" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 contact_custom_css">
                        <ul class="list-contacts list-unstyled margin_padding_contact">
                            <li class="list-contacts__item">
                                <i class="icon stroke icon-House"></i>
                                <div class="list-contacts__inner">
                                    <div class="list-contacts__title">Delhi</div>
                                    <div class="list-contacts__info">G-18 2nd floor, Preet Vihar-110092</div>
                                </div>


                                <i class="icon stroke icon-Phone2"></i>
                                <div class="list-contacts__inner">

                                    <div class="list-contacts__info" style="color:red;"><strong>9212577708</strong>
                                    </div>
                                </div>

                                <i class="icon stroke icon-Mail"></i>
                                <div class="list-contacts__inner">

                                    <div class="list-contacts__info">delhi.trg1@kvch.in</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7 section_map map-iframe-margin-bottom-10 contact_map_custom_css">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.5429124203242!2d77.29599286468046!3d28.643458432413517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb51dcde42f3%3A0x718a576c6a0e18ad!2sKVCH+DELHI!5e0!3m2!1sen!2sin!4v1519472298750"
                                width="600" height="210" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 contact_custom_css">
                        <ul class="list-contacts list-unstyled margin_padding_contact">
                            <li class="list-contacts__item">
                                <i class="icon stroke icon-House"></i>
                                <div class="list-contacts__inner">
                                    <div class="list-contacts__title">Bhopal</div>
                                    <div class="list-contacts__info">Moving to New Location</div>
                                </div>


                                <i class="icon stroke icon-Phone2"></i>
                                <div class="list-contacts__inner">

                                    <div class="list-contacts__info" style="color:red;"><strong>9266625607</strong>
                                    </div>
                                </div>

                                <i class="icon stroke icon-Mail"></i>
                                <div class="list-contacts__inner">

                                    <div class="list-contacts__info">training@kvch.in</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7 section_map map-iframe-margin-bottom-10 contact_map_custom_css">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3082.4138358473783!2d77.42796195866205!3d23.256603331111258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c69d5ded1a6d3%3A0x56e5ca72213bdf88!2s18%2C+Ashoka+Garden%2C+Bhopal%2C+Madhya+Pradesh+462023!5e0!3m2!1sen!2sin!4v1494588044604"
                                width="600" height="210" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 contact_custom_css">
                        <ul class="list-contacts list-unstyled margin_padding_contact">
                            <li class="list-contacts__item">
                                <i class="icon stroke icon-House"></i>
                                <div class="list-contacts__inner">
                                    <div class="list-contacts__title">International Presence</div>
                                    <div class="list-contacts__info" style="color:red;"><strong> USA, UAE,
                                        NIGERIA</strong>
                                    </div>
                                </div>

                                <i class="icon stroke icon-Mail"></i>
                                <div class="list-contacts__inner">

                                    <div class="list-contacts__info">corporate@kvch.in</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7 section_map map-iframe-margin-bottom-10 contact_map_custom_css">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.270810762192!2d80.99491941463491!3d26.863135783149055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be2b7e69e929b%3A0x1b2ee5c7a1a9cd2d!2sOla!5e0!3m2!1sen!2sin!4v1513065242644"
                                width="600" height="210" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>


            </div><!-- end container -->


            <section class="section_contacts-form">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2 class="ui-title-block">Send <strong>Us Message</strong></h2>
                            <div class="wrap-subtitle">
                                <div class="ui-subtitle-block ui-subtitle-block_w-line">If you have some feedback or
                                    want to ask any questions
                                </div>
                            </div><!-- end wrap-title -->
                            <form class="form-contact ui-form" action="javascript:void(0);"
                                  id="contact_enquiry_form_kvch" method="post" onsubmit="return checkform(this);">
                                <div class="row">
                                    <div class="col-md-6" style="z-index:999;">
                                        <input class="form-control" type="text" placeholder="Full Name"
                                               id="contact_us_fullname" required>
                                    </div>
                                    <div class="col-md-6" style="z-index:999;">
                                        <input class="form-control" type="text" placeholder="Subject"
                                               id="contact_us_subject">
                                    </div>
                                    <div class="col-xs-12">
                                        <textarea class="form-control" required rows="11" placeholder="Message"
                                                  id="contact_us_message"></textarea>
                                        <div class="form-group" style="margin-left:10px;">

                                            <input style="width: 150px; display: inline;" class="form-control"
                                                   type="text" name="CaptchaInput" id="CaptchaInput"
                                                   placeholder="Enter Captcha">
                                            <label id="CaptchaDiv"
                                                   style="width: 20%;display: inline; font-size: 22px; font-style: italic;"></label>
                                            <input type="hidden" id="txtCaptcha">
                                        </div>

                                        <div id="show_contact_error"></div>

                                        <button class="btn btn-primary btn-effect" id="contactSub"
                                                onclick="sendContactForm()">SEND NOW
                                        </button>
                                    </div>


                                </div>
                            </form>
                        </div><!-- end col -->


                        <!--<div class="col-sm-4">
                            <a href="javascript:void(0);" class="support">
                                <img class="img-responsive" src="assets/media/support/1.jpg" height="248" width="330" alt="Foto">
                                <div class="support__title"><i class="icon stroke icon-Headset"></i>live support available</div>
                            </a>
                        </div>--><!-- end col -->

                    </div><!-- end row -->
                </div><!-- end container -->
            </section><!-- end section_contacts-form -->

        </main><!-- end main-content -->


        <div id="loadfooter"></div>
    </div><!-- end wrapper -->
</div><!-- end layout-theme -->


<!-- SCRIPTS -->
<script src="https://kvch.in/assets/js/jquery-migrate-1.2.1.js"></script>
<script src="https://kvch.in/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://kvch.in/assets/js/modernizr.custom.js"></script>
<script src="https://kvch.in/assets/js/waypoints.min.js"></script>
<script src="../../cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!--THEME-->
<script src="https://kvch.in/assets/plugins/sliderpro/js/jquery.sliderPro.min.js"></script>
<script src="https://kvch.in/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="https://kvch.in/assets/plugins/isotope/jquery.isotope.min.js"></script>
<script src="https://kvch.in/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="https://kvch.in/assets/plugins/datetimepicker/jquery.datetimepicker.js"></script>
<script src="https://kvch.in/assets/plugins/jelect/jquery.jelect.js"></script>
<script src="https://kvch.in/assets/plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="https://kvch.in/assets/js/cssua.min.js"></script>
<script src="https://kvch.in/assets/js/wow.min.js"></script>
<script src="https://kvch.in/assets/js/custom.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://kvch.in/assets/js/custom_javascript.js"></script>
<script type="text/javascript">
    // Captcha Script

    function checkform(theform) {
        var why = "";

        if (theform.CaptchaInput.value == "") {
            why += "- Please Enter CAPTCHA Code.\n";
        }
        if (theform.CaptchaInput.value != "") {
            if (ValidCaptcha(theform.CaptchaInput.value) == false) {
                why += "- The CAPTCHA Code Does Not Match.\n";
            }
        }
        if (why != "") {
            alert(why);
            return false;
        }

    }

    var a = Math.ceil(Math.random() * 9) + '';
    var b = Math.ceil(Math.random() * 9) + '';
    var c = Math.ceil(Math.random() * 9) + '';
    var d = Math.ceil(Math.random() * 9) + '';
    var e = Math.ceil(Math.random() * 9) + '';

    var code = a + b + c + d + e;
    document.getElementById("txtCaptcha").value = code;
    document.getElementById("CaptchaDiv").innerHTML = code;

    // Validate input against the generated number
    function ValidCaptcha() {
        var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
        var str2 = removeSpaces(document.getElementById('CaptchaInput').value);
        if (str1 == str2) {
            return true;
        } else {
            return false;
        }
    }

    // Remove the spaces from the entered and generated code
    function removeSpaces(string) {
        return string.split(' ').join('');
    }
</script>

</body>

</html>
